name: Doxygen

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Doxygen documentation generation
      uses: mattnotmitt/doxygen-action@v1
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist/html
        force_orphan: true
